@media  (max-width :768px) {
    .navbar{
       height: auto;
       min-height:300px;
    }
  }
  @media (min-width :768px) {
    .navbar{
       height: 100vh;
       min-height:500px;
    }
  }

  li:hover{
    background-color: rgb(117, 113, 113);
    color: white;
  }
